# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.editorconfig

.vscode
.idea
tmp
/.idea
/tmp
/main
/tmp/*
main
./api-payment
postgres/
